{% extends "default.html" %}

{% block container %}
{{ super() }}
<h2>Step {{ step }}: <span>Select the output file</span></h2>
<form action="Backend.execute" id="form" data-bind="true">
    <div class="form-group">
        <label for="output">CSV file</label>
        <div class="input-group">
            <input type="text" id="output" name="output" class="form-control" required />
        </div>
    </div>
    <div class="nav">
        <a href="Backend.back_settings" id="link" data-bind="true" class="btn btn-lg pull-left bg-blue text-white">Back</a>
        <button type="submit" class="btn btn-lg pull-right bg-green text-white">Next</button>
    </div>
</form>
{% endblock %}
