{% extends "default.html" %}

{% block container %}
{{ super() }}
<h2>Step {{ step }}: <span>Select Julia executable</span></h2>
<p>
    Is Julia already installed? If yes, please, indicate the Julia executable. Otherwise, install Julia and restart this application.
    <br/>
    How to install Julia [<a href="https://julialang.org/downloads/platform.html">https://julialang.org/downloads/platform.html</a>]
</p>
<form action="Backend.binary" id="form" data-bind="true">
    <div class="form-group">
        <label for="binary">Julia executable</label>
        <div class="input-group">
            <input type="file" id="binary" name="binary" class="form-control" required data-filter='[{"title": "All files", "extensions": "*"}]'/>
        </div>
    </div>
    <div class="nav">
        <button type="submit" class="btn btn-lg pull-right bg-green text-white">Next</button>
    </div>
</form>
{% endblock %}
